.navbar {
    background: #608BC1 !important;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

@media (min-width: 768px) { 
    .card-img-top {
        height: 40vh;
    }
}
.blog-img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.card-body {
    background: #C5D3E8;
}

footer {
    background: #608BC1 !important;

}